
<div ng-controller="ChatsController as CC">
	<a href="#!/dashboard">Home</a>
	<button ng-click="UC.logout()">Logout</button>
	<h1>Chat</h1>
	<div ng-init="CC.index()">
		<div ng-init="UC.session()">
			<div id="chat-wrap">
				<h4>{{UC.current_user.username}} has joined....</h4>
				<p ng-repeat="msg in CC.msgs track by $index">{{msg.data.text}} - by {{msg.data.user}}...</p>
			</div>

			<form ng-submit="CC.sendMsg(CC.msg, UC.current_user)">
				<input type="text" ng-model="CC.msg.text">
				<input type="submit" value="send">
			</form>
		</div>
	</div>
</div>