<div ng-controller="QuestionsController as QC">
	<a href="#" ng-click="UC.logout()">Logout</a>
	<a href="#!/dashboard">Home</a>
	<h1>Add a new Question</h1>
	<hr>
	<p class="errors" ng-repeat="error in QC.new_question_errors">{{error}}</p>
	<form ng-submit="QC.createQuestion(QC.newQuestion)">

		<div class="form-group">
			<label for="question">Question</label>
			<input ng-model="QC.newQuestion.question" type="text" class="form-control" id="question" placeholder="Enter a question">
		</div>

		<div class="form-group">
			<label for="description">Question</label>
			<textarea ng-model="QC.newQuestion.description" type="text" class="form-control" id="description" placeholder="optional"></textarea>
		</div>

		<input type="submit" class="btn btn-lg btn-primary" value="Submit">

	</form>

</div>