.header{
	background-color: #FF4500;
}

.header-left{
	display: inline-block;
}
.header-right{
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: 50px;
	margin-right: 50px;
	font-size: 20px;
}

#username{
	color: orange;
	text-transform: capitalize;
	font-size: 35px;
}